#navItem1{
    color:#323f4b;
    font-family:"Roboto";
}

#navItem2 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem3 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem4 {
    color: #323f4b;
    font-family: "Roboto";
}

.logo{
    width:80px;
    height:70px;
}

.banner-section-bg-container{
 height:100vh;
 background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQO-KzRBKRqoEcM4-fdtoj67vc814fTkod-WvrQmkY6Nw&s=10");
 background-size:cover;

}

.banner-heading{
    color:white;
    font-family:"Roboto";
    font-size:45px;
    font-weight:300;
}

.banner-caption{
    color:white;
    font-family:"Roboto";
    font-size:24px;
    font-weight:300;
}

.custom-button{
    width:130px;
    height:45px;
    color:white;
    background-color:#d0b200;
    border-width:0;
    border-radius:8px;
    margin-right:10px;
}

.custom-outline-button{
    width:130px;
    height:45px;
    color:#d0b200;
    background-color:transparent;
    border-width:1px;
    border-style:solid;
    border-color:#d0b200;
    border-radius:8px;
}

.wcu-section{
    background-color:#f9fbfe;
}

.wcu-section-heading{
    font-family:"Roboto";
    font-weight:700;
    font-size:28px;
    color:#183b56;
    text-align:center;
}

.wcu-section-description{
    font-family:"Roboto";
    font-size:16px;
    color:#5a7184;
    text-align:center;
}

.wcu-card{
    background-color:white;
    text-align:center;
    border-style:solid;
    border-width:1px;
    border-color:#e5eaf4;
    border-radius:16px;
}

.wcu-card-image{
    height:90px;
    width:87px;
}

.wcu-card-title{
    font-family:"Roboto";
    font-weight:500;
    font-size:22px;
    color:#323f4b;
}

.wcu-card-description{
    font-family:"Roboto";
    font-size:16px;
    color:#7b8794;
}

.offers{
    color:#323f4b;
    font-weight:600;
    font-style:italic;
}

.explore-menu-section{
    background-color:white;
    padding-left:120px;
}

.menu-section-heading{
    font-family:"Roboto";
    font-weight:700;
    font-size:28px;
    color:#183b56;
    text-align:center;

}

.menu-item-image{
    border-radius:16px;
    width:200px;
    height:170px;
}

.menu-card-title{
    color:#323f4b;
    font-family:"Roboto";
    font-weight:500;
    font-size:18px;
    margin-top:24px;
}

.menu-item-link{
    color:#d0b200;
    font-family:"Roboto";
    font-weight:500;
    font-size:14px;
}

.menu-item-card{
    border-radius:16px;
    width:230px;
    height:280px;
    text-align:center;
}
